* {
  width: 1000px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #7cff70;
  margin: auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.main_label {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
}

.main_label label {
  padding-left: 10px;
  padding-right: 10px;
}

.main_label input {
  background: #fff;
  border-radius: 10px;
  height: 30px;
  padding-left: 5px;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  border: 1px solid black;
  font-size: 15px;
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.05);
}
.but {
  padding-bottom: 1%;
  padding-top: 2%;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fact {
  text-align: center;
}
.list {
  line-height: 160%;
  padding-bottom: 1%;
  text-decoration: none;
}
h1 {
  padding-bottom: 1%;
}

.fact {
  background-color: white;
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 15px;
}
.holydayLinks {
  text-decoration: none;
  color: black;
}
.holydayLinks:hover {
  color: red;
  text-decoration: underline;
}
.facts {
  padding-bottom: 3%;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.cursor {
  padding-top: 50px;
  position: relative;
  width: 22em;
  margin: 0 auto;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.typewriter-animation {
  animation: typewriter 5s steps(50) 1s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkingCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
